.Order {

  width: 80%;
  border: 1px solid #eee;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  padding: 5px;
  margin: 10px auto;
  font-size: 0.9rem;
}

.Ingredients {
  text-transform: capitalize;
  margin: 10px 5px;
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
}

@media (min-width: 767px) {

  .Order {

    width: 80%;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
  }
  .Ingredients {

    margin: 0 10px;
    padding: 10px;
    display: inline-block;

  }

}
