.ContactData {

  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
}

.Input {

  display: block;
  width: 80%;
  margin: 20px auto;
  height: 30px;
  font-size: 1rem;
}

.ValidationErrors {

  width: 90%;
  border: 1px solid #ff0000;
  background-color: #f9a498;
  margin: 10px auto;
  padding: 15px 0;

}

.ErrorLists {
  text-align: left;
  padding: 5px 10px;
  list-style: inside;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;

  }
}
